{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
  <nav class="zone green">
    <ul class="main-nav">
      <li><a href="">Home</a></li>
      <li><a href="">Blogs</a></li>
      <li><a href="">Archives</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
  <div class="zone red">
    {% block content %}
    {% endblock content  %}
  </div>
  <div class="zone yellow">The Blog Site</div>
</body>
</html>