body {
    background-color:#464e56;
    color: #212529;
}

p{
  margin-bottom: 0;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  /*font-weight: bold;*/
  font-family: 'Play', sans-serif;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.content-section2 {
    display: flex;
    background: #464e56;
    padding: 10px 20px;
    border: 1px solid rgba(190, 187, 187, 0.6);
    border-radius: 8px;
    margin-bottom: 20px;
    /*text-align: center;*/
    justify-content: left;
}  



  .content-section3 {
    background: white;
} 


.container{
  min-height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.d-flex{
  width: 30vw;
}

.navbar-collapse{
  justify-content: space-between;
  width: 70vw;
}

.navbar-nav{
  justify-content: space-between;
  width: 60vw;
}

.article-title, .mr-2 {
  color: #f8f9fa;
}

a.article-title:hover {
  color: rgba(190, 187, 187, 0.6);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color:rgba(80, 69, 69, 0.6);
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color:  rgba(190, 187, 187, 0.6);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.bg-whitesmoke {

  background: #aabdcf;
  

}

.col {
  height: 100vh;
}

p {
  letter-spacing: 0.3px;
  line-height: 2em;
}